.conocemos{
    min-height: 700px;
    background-image: linear-gradient(rgb(94, 0, 156),rgb(10, 0, 104));
}

.con-title{
    color:white;
}

.con-p{
    color:white;
}

.historia-pic{
    box-shadow: 5px 5px 5px black;
}

@media only screen and (max-width:600px){
    .historia-pic{
        box-shadow: 5px 5px 5px black;
        width: 100vw;
    }
}