.testimonios{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    color: white;
    padding: 70px;
    border-bottom: solid white 1px;
    margin-bottom: 25px;
    
    
}
.trap{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(41, 41, 41), rgb(35, 35, 165));
    /* border-bottom: 800px solid rgb(255, 255, 255);
    border-left: 200px solid transparent;
    border-right: 50px solid transparent; */
}
.test-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-pic{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(27, 138, 186);
}



.test-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px){
    /* .trap{
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(red,blue);
        border-bottom: 500px solid rgb(255, 255, 255);
        border-left: 100px solid transparent;
        border-right: 50px solid transparent;
    } */
    /* .testimonios{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-top: 20px;
        padding-right: 150px; */
        
        /* height: 0; */
        /* width: 100px; */
        
    /* } */
}

