.ministerios{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: linear-gradient(to right, rgb(41, 41, 41), rgb(35, 35, 165));

}

.ministerio{
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.bg-mens{

    background-image: url('../assets/images/ministerio-hombres.png');
    
}

.bg-womens{

    background-image: url('../assets/images/ministerio-mujeres.png');
    
}

.btn-array{
    width: 100%;
    /* position: absolute; */
    /* bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;

}

.bg-english{
    color:white;
    background-image: url('../assets/images/english.jpg');
    
}

.bg-ninos{
    color:white;
    background-image: url('../assets/images/ministerio-ninos.jpg');
    
}

.bg-obs{
    color:white;
    background-image: url('../assets/images/obs.jpg');
    
}

.bg-oracion{
    color:white;
    background-image: url('../assets/images/oracion.jpg');
    
}

.long-text{
    width:800px;
    color:white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #673ab7  ; */
    padding: 20px;
    min-height: 350px;
    
}
.pad{
    width: 80%;
}

.ministerio > h3{
    color: white;
    padding: 0px 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.351), rgba(3, 0, 44, 0.317));
}

.btn{
    border: 1px solid white;
    background-color: rgba(46, 46, 46, 0.351);
    width: 300px;;
}

.btn:hover{
    border: 1px solid rgb(219, 161, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 52, 120);
}

@media only screen and (max-width:600px){
  
    .btn-array{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .ministerios{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        flex-direction: column;
    
    }
    .ministerio{
        height: 60vh;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /* box-shadow: black 2px 2px 2px 2px; */
    }
    .btn-array{
        width: 100%;
        /* position: absolute; */
        /* bottom: 50px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    
    }
    .btn{
        border: 1px solid white;
        background-color: rgba(46, 46, 46, 0.522);
        max-width: 45%;
        padding: 10px 0;
    }
    .long-text{
        width: 100vw;
        color:white;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* background-color: #673ab7  ; */
        padding: 20px;
        min-height: initial;
        
    }
}