/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Scada', sans-serif; 
*/

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
}
h2{
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}
h3, h4, h5, .test-name{
  font-family: 'Scada', sans-serif; 
  font-size: 1.5rem;
}
p, .nav-link{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
}
.App {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-image: linear-gradient(to right, rgb(21, 0, 99),rgb(163, 0, 141), rgb(30, 0, 99))
}

.nav-link{
  color: white;
}

.address{
  display: flex;
  width: 300px;
}

@media only screen and (max-width: 600px){
  h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
  }
  h2{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
  }
  h3, h4, h5, .test-name{
    font-family: 'Scada', sans-serif; 
    font-size: 1rem;
  }
  p, .nav-link{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
  }
}